###
### $Id: NAMESPACE 911 2014-07-14 06:21:47Z proebuck $
###


## Imported methods
import(methods)
import(cobs)
import(grDevices)
import(utils)
importFrom("MASS", rlm)
importFrom("graphics", hist)
importFrom("graphics", image)
importFrom("graphics", plot)
importFrom("stats", coef, coefficients)
importFrom("stats", fitted)
importFrom("stats", loess)
importFrom("stats", resid, residuals)

## Public classes
exportClasses(CobsFitClass)
exportClasses(Directory)                  # not intended for public consumption
exportClasses(DS5RPPAPreFitQC)
exportClasses(ElapsedTime)
exportClasses(FitClass)
exportClasses(LoessFitClass)
exportClasses(LogisticFitClass)
exportClasses(RPPA)
exportClasses(RPPADesign)
exportClasses(RPPADesignParams)
exportClasses(RPPAFit)
exportClasses(RPPAFitParams)
exportClasses(RPPANormalizationParams)
exportClasses(RPPAPreFitQC)
exportClasses(RPPASet)
exportClasses(RPPASetSummary)
exportClasses(RPPASpatialParams)
exportClasses(SuperCurveSettings)
exportClasses(BoundedRange)               # Migrate to its own package
exportClasses(ProgressMonitor)            # Migrate to its own package
exportClasses(DefaultProgressMonitor)     # Migrate to its own package
exportClasses(SCProgressMonitor)

## S4 methods
exportMethods(coef, coefficients)
exportMethods(coerce)
exportMethods(dim)
exportMethods(elapsed)
exportMethods(fitted)
exportMethods(hist)
exportMethods(image)
exportMethods(names)
exportMethods(normalize)
exportMethods(paramString)
exportMethods(plot)
exportMethods(progressDone, "progressDone<-")
exportMethods(progressError, "progressError<-")
exportMethods(progressLabel, "progressLabel<-")
exportMethods(progressMarquee, "progressMarquee<-")
exportMethods(progressMaximum, "progressMaximum<-")
exportMethods(progressMinimum, "progressMinimum<-")
exportMethods(progressStage, "progressStage<-")
exportMethods(progressValue, "progressValue<-")
exportMethods(qcprob)
exportMethods(resid, residuals)
exportMethods(summary)
exportMethods(write.summary)

## Public functions
export(BoundedRange)
export(DefaultProgressMonitor)
export(Directory)
export(ElapsedTime)
export(RPPA)
export(RPPADesign)
export(RPPADesignParams)
export(RPPADesignFromParams)
export(RPPAFit)
export(RPPAFitParams)
export(RPPAFitFromParams)
export(RPPANormalizationParams)
export(RPPAPreFitQC)
export(RPPASet)
export(RPPASetSummary)
export(RPPASpatialParams)
export(SCProgressMonitor)
export(SuperCurveSettings)
export(fitCurveAndSummarizeFromSettings)
export(getConfidenceInterval)
export(getStages)
export(getSteps)
export(is.BoundedRange)
export(is.Directory)
export(is.ElapsedTime)
export(is.FitClass)
export(is.RPPA)
export(is.RPPADesign)
export(is.RPPADesignParams)
export(is.RPPAFit)
export(is.RPPAFitParams)
export(is.RPPANormalizationParams)
export(is.RPPAPreFitQC)
export(is.RPPASet)
export(is.RPPASpatialParams)
export(is.SuperCurveSettings)
export(is.SCProgressMonitor)
export(seriesNames)
export(spatialAdjustment)
export(spatialAdjustmentFromParams)
export(spatialCorrection)

## Registration functions (generic)
export(getRegisteredMethod)
export(getRegisteredMethodKeys)
export(getRegisteredObject)
export(getRegisteredObjectKeys)
export(registerClassname)
export(registerMethod)

## Registration functions (specific)
export(getRegisteredModel)
export(getRegisteredModelKeys)
export(getRegisteredModelLabel)
export(registerModel)

export(getRegisteredNormalizationMethod)
export(getRegisteredNormalizationMethodKeys)
export(getRegisteredNormalizationMethodLabel)
export(registerNormalizationMethod)

